
*{
    
    margin: 0;
    padding: 0;
    font-size: 20px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*-----navbar-----*/

.navigation-action {
    float:right;
}
.visionfitness {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    height: 45px;
    width: 50px;
    float: left;
}

.img-sizing {
    width: 100%;
    height: auto;
}

/*-----aimsection(index 2ndpart)----*/
.aim {
    margin: 0;
}
.ouraim {
    margin-top: 10%;
}
.welcomequote {
    text-align: center;
    padding: 2%;
}
.aimimg {
    width: 50%;
    height: auto;
    margin-left: 20%;
}
.paragraph {
    text-align: justify;
    font-size:100%;
    margin-top: 10px;
}
.part2 {
    height: 720px;
}

.access {
    border: 0px solid #d0c5c5;
    background-color: #edecec;
    padding: 5%;
    
}
.access:hover{
  transform: scale(1.03);
    transition: transform 3s , opacity 0.3s;
}

/*----marquee-----*/
.marq {
    font-size: 40px;
    color: indianred;
    margin: 0 15%;
    height: 100px;
}
.marqu_section {
    height: 70%;
    text-align: center;
}
/*----marquee ends---*/
/*-----footer and icons----*/
.footer {
    width: 100%;
    background-color: black;
}
.footer div i{
    font-size: 20px; 
}
.headerrow {
    background-color: black;
}
.rowheader {
    margin: 0;
}
.color_icon,p {
    color: #c1b9b9;
    display: inline-block;
    font-size: 15px; 
}
.icon_possition {
    float: right;
    font-size: 30px; 
}
.fa-facebook:hover{
    color:#3b5998;
    transform: scale(1.2);
    transition: transform 3s , opacity 0.3s;
    font-size:30px;
}

.color_icon {
    color: white;
    font-size: 25px;
}

.fa-twitter:hover {
    color: #1da1f2;
     transform: scale(1.2);
    transition: transform 3s , opacity 0.3s;
    font-size:30px;
}

.fa-instagram:hover {
    color: #c32aa3;
     transform: scale(1.2);
    transition: transform 3s , opacity 0.3s;
    font-size:30px;
}

.fa-youtube-square:hover {
    color: #ff0000;
    transform: scale(1.2);
    transition: transform 3s , opacity 0.3s;
    font-size:30px;
}




.rights {
    font-size: 15px;
    margin: 15px 2px;
}


  
/*----video section---*/
.youtubevideo {
    margin:70px auto ;
}

#video {
    height: 70vh;
}
/*---video section ends----*/
/*---About us and info section starts---*/

#aboutInfo{
    margin-bottom: 10%;
}
#aboutInfo img{
    height:300px;
    margin: 0 auto;
}
/*-----About us and section ends---*/
/*----map and contact section starts---*/
.map_and_contact {
     margin:70px 0 ;
}
.map_and_contact {
     margin:70px 0 ;
}
.map_and_contact {
     margin:70px 0 ;
}
.details {
    margin: 2%;
    border-bottom: 1px solid black;
    color: #eb7e0a;
}
.contactdetails {
    background-image: linear-gradient(rgba(52, 51, 51, 0.79),rgba(52, 51, 51, 0.78)),url(../images/contact-us-hand-written-on-paper-with-blue-background-FJGG38.jpg);
    background-position: center;
    background-size: cover;
    min-height: 450px;
}
.contact {
    color: white;
}









/*------form-----*/
.userform{ 
    text-align: center;
    padding: 0;
    margin: 2% 10%;
}

.user_info {
    text-align: center;
    height: 40px;
     width: 50%;
    border-radius: 20px;
}

#msg {
    height: 100px;
    border-radius: 20px;
}

.button {
    text-align: center;
    margin-bottom: 8px;
}

#bttn {
    padding: 5px;
    font-size: 20px;
    border-radius: 4px;
}


.form-sec {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)),url(../images/contact-background-image-8.jpg);
    opacity: 0.8;
    background-attachment: fixed;
    
}

.info-user {
    color: white;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="msg"]{
    width:120%;
}

/*--------form section ends----*/


.data {
    text-align: center;
}

.unorderlist {
    
    margin-left: 20px;
}

/*---form---*/
input[type=text],
input[type=email],
select,
textarea {
    
    width: 100%;
    padding: 12px;
    border: 1px solid #aca5a5;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    
    
    float: right;
    
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

.container {
    border-radius: 5px;
    /* background-color: rgba(221, 221, 221, 0.69); */
    padding: 20px;
}
.customize{
    border-radius: 5px;
    background-color: rgba(221, 221, 221, 0.69);
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px;
}
input[type=text]:focus,
input[type=email]:focus,
select:focus,
textarea:focus,
input#fname:focus {
    box-shadow: 0px 0px 20px;
    border-radius: 15px;
}
.gym-carosal{
    width: 100%;
}